#home {
  background-image: url(bundle://home.jpg);
}

#round {
  background-image: url(bundle://home.jpg);
}

#home button {
  width: 250px;
  border-radius: 8px;
  left: 100px;
  top: 360px;
  background-color: rgba(50,50,50,0.85);
  font-size: 36pt;
  color: white;
}

#home #title {
  font-size: 56pt;
  color: white;
  top: 10px;
  left: 100px;
  background-color: rgba(1,1,1,0);
  width: 600px;
  height: 100px;

}

.previous-rounds {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(50,50,50,0.85);
  top: 250px;
  left: 700px;
}

.score-grid {
  height: 568px;
  width: 924px;
  left: 50px;
  top: 100px;
  background-color: rgba(50,50,50,0.85);
  border-radius: 20px
}

.course-name {
  height: 48px;
  width: 400px;
  left: 50px;
  top: 25px;
  background-color: rgba(255,255,255,0.3);
  font-size: 36pt;
  border-radius: 8px;
  vertical-align: middle;
}